<title> About Youpep | About us.</title>
<meta property="og:site_name" content="About Youpep | About us."/> <meta property="og:title" content=" About us | About Youpep ."/> <meta property="og:description" content="Founded in may, 2015.Youpep gives you the power to search for people, in every day life"/>
<meta name="description" content="Founded in may, 2015. Youpep gives you the power to search for people, in every day life"/>
<meta name="keywords" content="youpep,about,about us,about youpep,youpep about,people,search,find,location,activity,activities of people,activity search,interests,interests search,people interests,looking people,meeting people,making friends,friends,meeting,dating,looking,searching for classmate,searching friend,."/>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>
                About us
            </h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-11 col-lg-offset-1">
            <h4 style="line-height:1.7em;">
                 Founded in May of 2015 based in india, YouPep is a platform to search for people,based on
                    their activities,interests and location around the world.

            </h4>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <h3>
                Mission
            </h3>
        </div>
        <div class="col-lg-11 col-lg-offset-1">

            <hr />
            <h4 style="line-height:1.7em;">
            Bringing the world together with a search.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11 col-lg-offset-1">
            <img src="https://a2.muscache.com/airbnb/static/info/guarantee/guarantee_map-3d10807f81ce83bd6eef4f7f77310d78.png">
        </div>
    </div>
</div>