<div class="container" style="padding-top:80px;" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>
                        Your email is  activated..
                    </h5>
                    <h5>click here to<a href="#/login"> Login</a> </h5>
                </div>
                <div class="panel-footer">
                    <h5 style="line-height:1.7em;">From<br> <strong>Youpep Team</strong></h5>

                </div>
            </div>
        </div>
    </div>
</div>
<style ng-if="!(isAuthenticated())">
    body{
        /*background: url(static/app/images/bg-start.jpg) no-repeat center center fixed;*/
        background-color:#fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:30px;
    }
</style>