<div class="container" style="padding-top:80px;">
    <div class="row" style="">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock" style="opacity:0.70"></span>
                    <strong>Youpep</strong>
                    Login Credentials</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="login()" name="myForm">
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">
                                Email
                            </label>
                            <div class="col-sm-9">
                                <input type="email"
                                       class="form-control" id="email"
                                       name="email" ng-model="formData.email" placeholder="Enter Email" required/>
                                <span ng-show="myForm.email.$error.required && myForm.email.$dirty" style="color:red">
                                    Email is required
                                </span>
                                <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty"
                                        style="color:red">
                                    You entered an invalid email
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Password
                            </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control"
                                       placeholder="Enter Password" id="password" name="password" ng-model="formData.password" required  />
                                <span ng-show="myForm.password.$error.required && myForm.password.$dirty" style="color:red">
                                    required
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"/>
                                        Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a href="#/forgotpassword">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" ng-disabled="!myForm.$valid" class="btn btn-success btn-sm" ng-click="submitLogin()">
                                    Sign in</button>

                            </div>

                        </div>
                    </form>
                </div>
                <div ng-if="error" class="panel-footer" style="color:red">
                    <span style="color:red;">
                        {{ error }}
                    </span>
                </div>
                <div class="panel-footer">
                    <h5>
                        Resend activation link?  <a style="cursor:pointer;" data-toggle="collapse"
                                data-parent="#accordion" data-target="#1">Click Here</a>
                    </h5>
                    <div id="1" style="border-top:1px solid #dcdcdc;" cg-busy="Resend_busy" class="panel-collapse collapse out">
                        <form role="form" name="ResendForm">
                            <label style="margin-top:10px;">
                                Enter Email
                            </label>
                            <input type="email" class="form-control"
                                       placeholder="Enter Password" id="resend" name="resend" ng-model="ss" required  />
                            <span ng-show="ResendForm.resend.$error.required && ResendForm.resend.$dirty" style="color:red">
                                required<br />
                            </span>
                            <button ng-click="ResendMail()" ng-disabled="!ResendForm.$valid" class="resend-button btn btn-sm btn-primary">
                                Resend Link
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style ng-if="!(isAuthenticated())">
    body{
        /*background: url(static/app/images/bg-start.jpg) no-repeat center center fixed;*/
        background-color:#fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:30px;
    }
</style>