<title>Youpep | Login.</title>
<meta property="og:site_name" content="Youpep | Login."/> <meta property="og:title" content=" Login | Youpep ."/> <meta property="og:description" content="Login to Youpep to explore more and connect with people"/>
<meta name="description" content="Login to Youpep to explore more and connect with people"/>
<meta name="keywords" content="youpep,login,login youpep,youpep login,people,search,find,location,activity,activities of people,activity search,interests,interests search,people interests,looking people,meeting people,making friends,friends,meeting,dating,looking,searching for classmate,searching friend,."/>
<div class="container" style="padding-top:80px;">
    <div class="row" style="">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default" style="margin-bottom:0px;border-top:1px solid #ddd !important;">
                <div class="panel-body" cg-busy="show_login_busy">
                    <h2 style="margin-bottom:20px;">
                        <strong>
                            Log in to Youpep
                        </strong>
                    </h2>
                    <form class="form-horizontal" role="form" ng-submit="login()" name="myForm">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <input type="email" style="box-shadow:none !important;" autofocus
                                       class="form-control login-input" id="email"
                                       name="email" ng-model="formData.email" placeholder="Enter Email" required/>
                                <span ng-show="myForm.email.$error.required && myForm.email.$dirty" style="color:red">
                                    Email is required
                                </span>
                                <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty"
                                        style="color:red">
                                    You entered an invalid email
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <input type="password" class="form-control login-input" style="box-shadow:none !important;"
                                       placeholder="Enter Password" id="password" name="password" ng-model="formData.password" required  />
                                <span ng-show="myForm.password.$error.required && myForm.password.$dirty" style="color:red">
                                    required
                                </span>
                                <h5 style="color:red" ng-if="showLoginError">
                                    {{ loginError }}
                                </h5>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-5">
                                <button type="submit" ng-disabled="!myForm.$valid" class="btn btn-success btn-sm" ng-click="submitLogin()">
                                    Sign in
                                </button>
                                <a href="#/forgotpassword" class="pull-right">
                                    Forgot Password?
                                </a>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="panel-footer" style="background-color: #FCFCFC;">
                    <h5>
                        <span style="opacity:0.50">
                            New to Youpep?
                        </span>&nbsp;
                        <a href="#/signup">
                            Signup Here
                        </a>
                    </h5>
                    <h5>
                        <span style="opacity:0.50">
                            Already registered? Want to resend activation link?
                        </span>
                        <a style="cursor:pointer;" data-toggle="collapse"
                                data-parent="#accordion" data-target="#1">
                            Resend activation
                        </a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div id="1" class="panel-collapse collapse out" class="panel panel-default">
                <div class="panel-body">
                    <div cg-busy="Resend_busy">
                        <form role="form" name="ResendForm" class="col-sm-5">
                            <input type="email" class="form-control"
                                       placeholder="Enter registered mail" id="resend" name="resend" ng-model="ss" required  />
                            <span ng-show="ResendForm.resend.$error.required && ResendForm.resend.$dirty" style="color:red">
                                required<br />
                            </span>
                            <button ng-click="ResendMail()" ng-disabled="!ResendForm.$valid" class="resend-button btn btn-sm btn-primary">
                                Resend Link
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<style ng-if="!(isAuthenticated())">
    body{
        /*background: url(static/app/images/bg-start.jpg) no-repeat center center fixed;*/
        background-color:#fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:30px;
    }
</style>