<title>Youpep.com</title>
<div class="container">
	<div class="col-md-3 colpadding" wb-affix="150">
		<div class="thumbnail">
            <div class="itemsContainer">
                <div class="image">
                    <a style="cursor:pointer;">
                        <img class="img-rounded" style="" data-placement="center"
                             data-animation="am-fade-and-scale" data-template="modal.showProfileImage.tpl.html"
                             bs-modal ng-src="{{currentUser.picture.large}}" />
                    </a>
                </div>
            </div>
			<div class="caption text-center">
				<h3 style="text-transform: capitalize;">
                    <a href="" data-placement="bottom" style="text-decoration:none;" data-animation="am-fade-and-scale" data-html="true"
                         data-title="<h6>Lives In {{currentUser.location.city}}</h6>"
                         bs-tooltip>
                        {{currentUser.name.first}} {{currentUser.name.last}}
                    </a>
                </h3>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color:#fff;">
				<h5 style="">
					<strong>About</strong>
				</h5>
			</div>
			<div class="panel-body">
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;" class="about-edit">
							<i class="fa fa-dashboard" style="opacity:0.65;font-size:12px;"></i>&nbsp;
							I am interested in:
                            <a ng-repeat="interest in currentUser.interests"
                               style="line-height:1.2em;color:;text-decoration:none;text-transform:capitalize;">
								<!--{{ interest }}{{$last ? '' : ', '}}&nbsp;-->
                                {{ InterestsService.get(interest).interest_string }}{{$last ? '' : ', '}}
							</a>
						</h6>
					</div>
				</div>
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;">
							<i class="fa fa-graduation-cap" style="opacity:0.65;font-size:12px;"></i>
							Studied at:
                            <a style="line-height:1.2em;color:;text-decoration:none;">

								{{ currentUser.study.school }} {{ currentUser.study.graduate }}

							</a>
						</h6>
					</div>
				</div>
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;">
							<i class="fa fa-home" style="opacity:0.65;font-size:13px;"></i>&nbsp;
							Lives in:
                            <a style="line-height:1.2em;color:;text-decoration:none;">
								{{ currentUser.location.state }}, {{ currentUser.location.city }}
                            </a>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="clearfix panel-heading" style="background-color:#fff;">
                <h5>
                    <strong>
                        Friends - <span style="opacity:0.70;">
                        {{currentUser.friends.length}}
                    </span>
                    </strong>
                </h5>
			</div>
            <div class="panel-body" style="padding:1px;">
                <a ng-repeat="friend in currentUser.friends " href="#/profile/{{ friend }}">
                    <img data-placement="top" style="width:87px" data-animation="am-fade-and-scale" data-html="true"
                         data-title="<h6>{{UserService.get(friend).name.first}} {{UserService.get(friend).name.last}}</h6>
                            <h6>Lives In {{ UserService.get(friend).location.city }}, {{UserService.get(friend).location.state}}</h6>"
                         bs-tooltip ng-src="{{UserService.get(friend).picture.thumbnail}}">
                </a>
            </div>
		</div>
	</div>
	<div class="col-md-6 colpadding" style="min-height:2000px">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding:2px;border-top: 1px solid #ECEAEA;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="border-bottom:0px solid #fff;">
                    <li class="active">
                      <a data-target="#home" role="tab" data-toggle="tab"
                         style="background:#f5f5f5;border:0px solid #fff;">
                          <h6 style="margin-top:0px;margin-bottom:0px;">
                                <button class="btn btn-warning btn-xs" style="font-size: 10px;">
                                    <icon class="fa fa-adjust"></icon>
                                </button>
                              <strong>
                                  Questions
                              </strong>
                          </h6>
                      </a>
                    </li>
                    <li>
                        <a data-target="#profile" role="tab" data-toggle="tab"
                                 style="background:#f5f5f5;border:0px solid #fff;">
                            <h6 style="margin-top:0px;margin-bottom:0px;">
                                <button class="btn btn-primary btn-xs" style="font-size: 10px;">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <strong>
                                    Status Update
                                </strong>
                            </h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="home">
                        <div class="questions_arrow">
                            <div class="panel-group" id="accordion">
                                <div class="" style="margin-bottom:10px" ng-repeat="question in questions.allquestions">
                                    <div style="cursor:pointer;padding-bottom: 15px;border-top:1px solid #f5f5f5 !important;" class=""
                                         data-toggle="collapse" data-parent="#accordion" data-target="#">
                                        <h5 class="">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <strong>{{question.question}}</strong>
                                                </div>
                                            </div>
                                        </h5>
                                    </div>
                                    <div id="{{ question._id }}" class="panel-collapse">
                                        <div class="" style="padding:;">
                                            <div class="row" style="padding-bottom:5px;">
                                                <div class="col-lg-10" style="margin-left:;" ng-if="checkAnswer(question._id)==1">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-primary">
                                                            <input type="radio" ng-model="choice" id="{{question._id}}_1" value="{{question._id}}_yes"
                                                               ng-change="answered('{{ question._id}}',1)"
                                                               name="ans_{{question._id}}" ng-checked="true" />
                                                            <label for="{{question._id}}_1">Say yes</label>
                                                        </div>
                                                        <div class="funkyradio-info">
                                                            <input type="radio"  ng-model="choice" id="{{question._id}}_2" value="{{question._id}}_no"
                                                               ng-change="answered('{{ question._id }}', 0)" ng-select="true"
                                                               name="ans_{{question._id}}" />
                                                            <label for="{{question._id}}_2">Say no</label>
                                                        </div>
                                                    </div>
                                                    <!--answered : Yes-->
                                                </div>

                                                <div class="col-lg-10" style="margin-left:;" ng-if="checkAnswer(question._id)==0">

                                                    <div class="funkyradio">
                                                        <div class="funkyradio-primary">
                                                            <input type="radio" ng-model="choice" id="{{question._id}}_1" value="{{question._id}}_yes"
                                                               ng-change="answered('{{ question._id}}',1)"
                                                               name="ans_{{question._id}}" />
                                                            <label for="{{question._id}}_1">Say yes</label>
                                                        </div>
                                                        <div class="funkyradio-info">
                                                            <input type="radio"  ng-model="choice" id="{{question._id}}_2" value="{{question._id}}_no"
                                                               ng-change="answered('{{ question._id }}', 0)" ng-select="true"
                                                               name="ans_{{question._id}}" ng-checked="true" />
                                                            <label for="{{question._id}}_2">Say no</label>
                                                        </div>
                                                    </div>
                                                    <!--answered : No-->
                                                </div>

                                                <div class="col-lg-10" style="margin-left:;" ng-if="checkAnswer(question._id)==3">

                                                    <div class="funkyradio">
                                                        <div class="funkyradio-primary">
                                                            <input type="radio" ng-model="choice" id="{{question._id}}_1" value="{{question._id}}_yes"
                                                               ng-change="answered('{{ question._id}}',1)"
                                                               name="ans_{{question._id}}" />
                                                            <label for="{{question._id}}_1">Say yes</label>
                                                        </div>
                                                        <div class="funkyradio-info">
                                                            <input type="radio" ng-model="choice" id="{{question._id}}_2" value="{{question._id}}_no"
                                                               ng-change="answered('{{ question._id }}', 0)" ng-select="true"
                                                               name="ans_{{question._id}}" />
                                                            <label for="{{question._id}}_2">Say no</label>
                                                        </div>
                                                    </div>
                                                <!--Not Yet answered-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active in" id="profile" cg-busy="new_submit_busy_post">
                        <form role="form" class="post-to-timeline status_arrow clearfix">
                            <textarea ng-model="new_post" class="form-control"
                                      style="height: 70px;margin-bottom: 10px;resize: none;" placeholder="Whats happening?" required></textarea>
                            <div class="row">
                                <div class="col-sm-2 pull-right">
                                    <button ng-click="submit_post()" type="submit" class="btn btn-primary btn-block btn-sm">
                                        <strong>Post</strong>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<div ng-if="show_none_posts">
			<div class="row" ng-if="!(infinitePosts.posts.length)" class="well clearfix"
                style="background-color:#fff;">
				<div class="col-sm-12">
					<h2 class="text-center">
						No Posts to Show
					</h2>
                    <h3>
                        Add Post to share your information to Friends
                    </h3>
				</div>
			</div>
		</div>

		<div cg-busy="load_main" id='userposts' infinite-scroll='infinitePosts.nextPage()' infinite-scroll-disabled='infinitePosts.busy'
             infinite-scroll-distance='0' infinite-scroll-container="'#userposts'">

			<div class="media panel panel-default" ng-repeat="post in infinitePosts.posts">

				<div class="panel-heading post-div" style="background-color:#fff;border-bottom:1px solid #F2F2F2;">
					<a class="pull-left" style="padding: 5px;" href="#/profile/{{UserService.get(post.author)._id}}">
                        <img class="media-object img-circle" data-placement="top" style="width:35px;"
                             data-animation="am-fade-and-scale" data-html="true" data-container="body"
                            data-title="<h6>Lives In: {{ UserService.get(post.author).location.city }}</h6>"
                            bs-tooltip ng-src="{{UserService.get(post.author).picture.thumbnail}}" />
					</a>
					<strong>
						<a href="#/profile/{{UserService.get(post.author)._id}}" style="color:#2196F3">
							{{UserService.get(post.author).name.first}} {{UserService.get(post.author).name.last}}
						</a>
					</strong>&nbsp;
                    <span style="opacity:0.7;">
                        wrote on his story.
                    </span>

                    <a style="cursor:pointer;" class="pull-right delete-div" title="Delete this post"
                       data-animation="am-fade-and-scale" ng-if="currentUser._id == UserService.get(post.author)._id"
                       data-template="modal.deletingPost.tpl.html"
                       bs-modal>
                        Delete
                    </a>
					<br>
					<small class="text-muted">
                        <span class="glyphicon glyphicon-time" style="color:#2F5168"></span>
						<span am-time-ago="post._created"></span></small>
					<br>
				</div>
				<div class="panel-body" style="margin-bottom:0px;padding-bottom:0px;">

                    <div class="row" style="padding-bottom:5px;">
                        <div class="col-sm-12">
                            <p>
                                {{ post.content }}
                            </p>
                        </div>
                    </div>

                    <div class="row" ng-show="post.author != currentUser._id">
                        <div class="col-sm-12">
                            <h6>
                                <a ng-show="MatchButtonService.checkMatchUnMatch(post, currentUser) == false"
                                   ng-click=" pushToPost(post.author,post._id)"
                                   style="cursor:pointer" >
                                    Match
                                </a>&nbsp;
                                <a ng-show="MatchButtonService.checkMatchUnMatch(post, currentUser) == true"
                                   ng-click="deleteFromPost(post.author,post._id)"
                                   style="cursor:pointer" >
                                    UnMatch
                                </a>&nbsp;
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"
                     style="padding-top:5px;background-color:#fff;border:1px solid #FCF8F8;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>
                                <!--<span ng-repeat="temp in sortIListService.sendList(post.interestedPeople.interestedlist, user._id)">
                                    <a style="text-decoration:none;cursor:pointer;"
                                       alt="Match this post">
                                        <i class="fa fa-slideshare" style="font-size:14px;"></i>&nbsp;
                                    </a>
                                    <span ng-if="user._id == temp">
                                        <a href="">
                                            you
                                        </a>
                                    </span>

                                    <span ng-if="user._id != temp">
                                        <a href="">
                                            {{ UserService.get(temp).name.first }}
                                        </a>
                                    </span>
                                    matched with this post
                                </span>
                                <span ng-if="sortIListService.sendList(matchPeople.interestedList).length">
                                    {{ sortIListService.sendList(matchPeople.interestedList).length }}
                                    matched with this post
                                </span>-->

                            </h6>
                        </div>
                    </div>
                </div>
			</div>
			<div ng-show='infinitePosts.busy'>Loading data...</div>
			<div ng-show='infinitePosts.end'>You Reached the end!</div>
		</div>
	</div>
</div>



<style>
    .post-div .delete-div{
        display:none;
    }
    .post-div:hover .delete-div{
        display:block;
    }
</style>
<script type="text/ng-template" id="modal.deletingPost.tpl.html">
      <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content" style="border-radius:4px;">
              <div class="modal-header" style="background-color:#f5f5f5;padding:12px 15px 8px 15px">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h5 class="modal-title">
                    <label>
                        Deleting Post
                    </label>
                </h5>
              </div>
              <div class="modal-body">
                  <div class='row'>
                    <div class='col-lg-12'>
                        <h5>Are you sure you want to delete this post?</h5>
                    </div>
                  </div>
              </div>
              <div class="modal-footer" style="background-color:#f5f5f5;">
                  <div class="row">
                      <div class='col-lg-5 pull-right'>
                        <span class='pull-right'>
                            <button type="button" class="btn btn-sm btn-default" ng-click="$hide()">
                                <strong>Cancel</strong>
                            </button>&nbsp;
                            <button class='btn btn-sm btn-danger' ng-click="confirm_delete(post._id)">
                                <strong>Confirm Delete</strong>
                            </button>
                        </span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
</script>

<script type="text/ng-template" id="modal.showProfileImage.tpl.html">
      <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content" style="border-radius:4px;">
              <div class="modal-header" style="background-color:#f5f5f5;padding:12px 15px 8px 15px">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h5 class="modal-title">
                    <label>
                        Showing Profile Picture
                    </label>
                </h5>
              </div>
              <div class="modal-body">
                  <div class='row'>
                    <div class='col-lg-12'>
                        <div class="thumbnail" style="border:0px solid;margin-bottom:1px;">
                            <img ng-src="{{ currentUser.picture.large }}">
                        </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer" style="background-color:#f5f5f5;">
              </div>
            </div>
          </div>
      </div>
</script>

