<textarea ng-model="enterquestion">


</textarea>
<input type="button" ng-click="storequestion()" value="save">-->
<title>Youpep | Search and meet people.</title>
<meta property="og:site_name" content="Youpep | Search and meet people "/> <meta property="og:title" content="Search and meet people | Youpep"/> <meta property="og:description" content="Youpep is a platform to search for people,based on their activities,interests and location around the world."/>
<meta name="description" content="Youpep is a platform to search for people,based on their activities,interests and location around the world."/>
<meta name="keywords" content="youpep,people,search,find,location,activity,activities of people,activity search,interests,interests search,people interests,looking people,meeting people,making friends,friends,meeting,dating,looking,searching for classmate,searching friend,."/>
<div class="container" style="">
    <div ng-if="!(isAuthenticated())" style="margin-top: 20px;"></div>
    <div class="row">
        <div class="col-lg-6 colpadding col-lg-offset-3">
            <div class="row" ng-if="!(isAuthenticated())">
                <div class="col-sm-12">
                    <h1 class="white-h1">
                        Welcome to Youpep
                    </h1>
                    <h4 class="white-h4">
                        search people based on their activities, interests and location.
                    </h4>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-12">
                    <div class="right-inner-addon ">
                        <i class="glyphicon glyphicon-search"
                           style="font-size: 17px;padding: 10px 12px;top:5px;"></i>
                        <input type="search" style="border-radius: 22px;" autofocus
                               class="form-control input-lg search-box" ng-model="query" focus="true"
                           placeholder="Search anything in Youpep" ng-keyup="$event.keyCode == 13 && perfomSearch()"/>
                    </div>
                </div>
            </div>
            <div ng-if="matchResults.saResultsNotFound && matchResults.mResultsNotFound && searched"
                 ng-init="getSuggestedPeople()">

            </div>

            <div class="row" ng-if="matchResults.suggestpeople">
                <div class="col-lg-12">
                    <h5>
                        <label style="color:;">
                            no results found but these peoples can help you...
                        </label>
                    </h5>
                </div>
            </div>

            <div class="row" style="padding-top:30px;" infinite-scroll='matchResults.nextPage()'
                                         infinite-scroll-disabled='matchResults.busy'
                                         infinite-scroll-distance='0'
                                         infinite-scroll-parent="true">

                <div class="col-lg-12" cg-busy="load_data">
                    <div class="panel panel-body post-div" style="border: 1px solid #f5f5f5;" ng-repeat="rs in matchResults.mresults" >
                        <img ng-src="{{ rs.picture.thumbnail }}" class="pull-left" style="width:100px;">
                        <h5 style="">

                            <strong>
                                <a style="color:#333;font-size:18px;text-transform:capitalize;font-family: 'open sans',arial,sans-serif;"
                                   href="#/profile/{{rs.username}}">
                                    {{ rs.name.first }} {{ rs.name.last }}
                                </a>
                            </strong>
                            <span class="pull-right">
                                <!-- if post from you -->
                                <a style="font-size:14px;" name="{{rs._id}}"
                                   ng-if="isAuthenticated() && currentUser._id == rs._id" >
                                    post from you
                                </a>


                                <!-- if post not from you and you logged in-->
                                <a  style="color:;font-size:14px;" name="{{rs._id}}"
                                   ng-if="isAuthenticated() && currentUser._id != rs._id"
                                   ng-click="openchatroom(rs);addToConversations(rs._id)">
                                   Chat
                                </a>
                                <!-- if not logged in -->
                                <a  ng-if="!(isAuthenticated())" style="color: #2196f3;font-size:14px;" data-placement="top-right" style="width:87px"
                                     data-content="Please Login to chat" data-trigger="hover" bs-popover>
                                    <i class="fa fa-comment"></i>
                                </a>

                            </span>
                        </h5>
                        <h5 style="margin-top:7px;opacity:0.5;">
                            Interests:
                            <a ng-repeat="interest in rs.interests | limitTo:5"
                               style="color:#000;line-height:1.2em;text-decoration:none;">
								{{ InterestsService.get(interest).interest_string }}{{$last ? '   ...' : ', '}}
							</a>
                        </h5>
                        <h5 style="margin-top:7px;opacity:0.5;">
                            Location:
                            <a style="color:#000;line-height:1.2em;text-decoration:none;">
								{{ rs.location.city }}, {{ rs.location.state }}
							</a>
                        </h5>
                        <h5 style="margin-top:7px;margin-bottom:10px;opacity:0.5;">
                            Study:
                            <a style="color:#000;line-height:1.2em;text-decoration:none;">
								{{ rs.study.graduate }}
							</a>
                        </h5>
                    </div>
                </div>
                <div class="col-lg-12" ng-show="show_no_results">
                    <div ng-if="matchResults.mresults.length == 0" class="panel panel-default">
                        <div class="panel-body">
                            <h4>
                                <strong>
                                    No results found.
                                </strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-3" style="margin-top:30px;" ng-if="isAuthenticated()">
            <div class="panel panel-default" style="margin-bottom:0px;">
                <div class="panel-body" style="border-bottom:1px solid #F5F5F5;padding:10px 15px 5px 10px;">
                    <h5>
                        <strong>
                            Previous Searches
                        </strong>
                    </h5>
                </div>
                <div class="panel-body" style="padding:5px 15px;" cg-busy="delete_searchHistory">
                    <div class="row" style="border-bottom:1px solid #f5f5f5;margin-bottom:3px;" ng-repeat="search_text in searchActivity.searchHistory | limitTo:15">
                        <div class="col-lg-12" style="padding:0px 0px 0px 4px;">
                            <div class="oaerror info">
                                <h5 class="truncate">
                                    <a class="" ng-href="#/search?query={{search_text.content}}" ng-click="go(search_text.content)">
                                        {{ search_text.content }}
                                    </a>
                                </h5>
                                <span class="pull-right">
                                    <i class="fa fa-close" ng-click="delete_searchHistoryItem(search_text._id)"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>

